.developer-profile {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .developer-profile h1 {
    color: #333;
  }
  
  .developer-profile h2 {
    color: #555;
  }
  
  .developer-profile p {
    color: #777;
  }
  
  .developer-profile ul {
    list-style: none;
    padding: 0;
  }
  
  .developer-profile li {
    margin-bottom: 5px;
  }
  
  .developer-profile a {
    color: #3498db;
    text-decoration: none;
  }
  
  .developer-profile a:hover {
    text-decoration: underline;
  }

  body{
    background-color: black;
  }
  